<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="sqlitememory" connectionString="Data Source=:memory"/>
		<add name="sqlitedb" connectionString="Data Source=./Application.db;Cache=Shared" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>